.dateSelectWrapper {
  position: relative;
  display: flex;
  height: 40px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  .day,
  .month,
  .year {
    display: flex;
    overflow: hidden;
  }
  .day {
    flex: 3;
  }
  .month {
    flex: 5;
  }
  .year {
    flex: 4;
  }
}
