.textInput {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 14px;
  width: 100%;
  font-size: 16px;
  color: inherit;
  border: 1px solid #00000020;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px 1px #00000010;
  background-color: transparent;
  &.dark {
    border-color: #ffffff10;
    background: #ffffff08;
  }
  &:focus {
    outline: none;
    border-color: #287bba;
  }
  &.error {
    border-color: #c00;
  }
}
