.wrapper {
  padding: 10px;
  .single-input-wrapper {
    padding: 10px;
    max-width: 350px;
  }

  .form-wrapper {
    padding: 10px;
    max-width: 350px;
    border: 1px solid #00000020;
    justify-self: center;
    align-self: center;
  }
}
